%messages %messages-list-item:has(%messages-nitro-message) {
    display: none !important;
}

%channel-bottom-bar-app-launcher {
    display: none !important;
}

// TODO: find a better way to select this
%messages-image-container>%messages-media-hover-button-group {
    display: none !important;
}