// No clue if this is still a thing, but the selector's still there...
%messages %messages-list-item:has(%messages-nitro-message) {
    display: none !important;
}

%app-launcher-entrypoint {
    display: none !important;
}
