%settings-premium-label>svg {
    display: none !important;
}

%settings-profiles-try-it-out-upsell-container {
    display: none !important;
}

%settings-profiles-shop-upsell-container {
    display: none !important;
}

%settings-profiles-server-nitro-upsell-container {
    display: none !important;
}

%settings-nitro-sticky-wrapper {
    display: none !important;
}