%settings-premium-label>svg {
    display: none !important;
}

%settings-profiles-try-it-out-upsell-container {
    display: none !important;
}

%settings-profiles-shop-upsell-container {
    display: none !important;
}

%settings-profiles-server-nitro-upsell-container {
    display: none !important;
}

%settings-nitro-sticky-wrapper {
    display: none !important;
}

%settings-appearance-theme-description:has(%settings-appearance-theme-description-nitro-wheel) {
    display: none !important;
}

%settings-appearance-theme-try-it-out-buttons {
    display: none !important;
}

%settings-appearance-theme-preset:has(%settings-appearance-theme-preset-locked-badge) {
    display: none !important;
}

%settings-appearance-icon-description:has(%settings-appearance-icon-description-nitro-wheel) {
    display: none !important;
}

%settings-appearance-icon-try-it-out-buttons {
    display: none !important;
}

%settings-appearance-icon-preset:has(%settings-appearance-icon-preset-locked-badge) {
    display: none !important;
}