// removals/general/browser-notices.scss
.browserNotice__740f2 {
    @extend %browser-notice !optional;
}

// removals/guilds-sidebar/
.guilds__5e434 {
    @extend %guilds-sidebar !optional;
}

.listItem__650eb {
    @extend %guilds-sidebar-guild !optional;
}

// removals/guilds-sidebar/download-button.scss
div[data-list-item-id="guildsnav___app-download-button"] {
    @extend %guilds-sidebar-download-icon !optional;
}

// removals/guilds-sidebar/guilds-discover-button.scss
div[data-list-item-id="guildsnav___guild-discover-button"] {
    @extend %guilds-sidebar-guild-discover-icon !optional;
}

// removals/messages/
ol[data-list-id="chat-messages"] {
    @extend %messages !optional;
}

.messageListItem__5126c {
    @extend %messages-list-item !optional;
}

// removals/messages/upsells.scss
.nitroMessage__5126c {
    @extend %messages-nitro-message !optional;
}

.app-launcher-entrypoint {
    @extend %app-launcher-entrypoint !optional;
}

// removals/misc/role-icons.scss
.roleIcon_ee71e { // either this or c19a557985eb7793
    @extend %role-icon !optional;
}

// removals/private-channels/
.privateChannels_e6b769 {
    @extend %private-channels !optional;
}

.channel__972a0 {
    @extend %private-channels-channel !optional;
}

.container__133bf {
    @extend %friends !optional;
}

// removals/private-channels/active-now-sidebar.scss
.nowPlayingColumn__133bf {
    @extend %friends-active-now-sidebar !optional;
}

// removals/settings/upsells.scss
.premiumTrialBadge_e4ef2 {
    @extend %settings-premium-trial-badge !optional;
}

.premiumLabel_e681d {
    @extend %settings-premium-label !optional;
}

.tryItOutSection__9d295,
.upsellContainer__0b69f {
    @extend %settings-profiles-try-it-out-upsell-container !optional;
}

.container__8279f {
    @extend %settings-profiles-shop-upsell-container !optional;
}

.upsellOverlayContainer__0f7dc {
    @extend %settings-profiles-server-nitro-upsell-container !optional;
}

.wrapper__70f7f {
    @extend %settings-nitro-sticky-wrapper !optional;
}

// removals/toolbar/
.bar_c3810 {
    @extend %toolbar !optional;
}

.trailing_c38106 {
    @extend %toolbar-trailing !optional;
}

// removals/users/avatar-decorations.scss
.avatarDecoration__44b0c {
    @extend %profile-avatar-decoration !optional;
}

.avatarDecoration_c19a5 {
    @extend %chat-messages-message-avatar-decoration !optional;
}

.container__4bbc6 {
    @extend %profile-nameplate !optional;
}

// removals/users/effects.scss
.profileEffects__01370 {
    @extend %profile-effects !optional;
}

// removals/users/clan-tags.scss
.tags__63ed3 {
    @extend %user-info-tags !optional;
}

.chipletContainerInner__10651 {
    @extend %user-chiplet !optional;
}

.clanTag__5d473 {
    @extend %user-clan-tag !optional;
}

// removals/users/notes.scss
.section_bf424 {
    @extend %profile-section !optional;
}

.note_eb110 {
    @extend %profile-notes !optional;
}

.inner_c0bea {
    @extend %profile-popout !optional;
}

.nicknameIcons__63ed3 {
    @extend %profile-popout-name-icons !optional;
}

.button__0f074 {
    @extend %profile-popout-note-icon !optional;
}