// removals/general/browser-notices.scss
._740f25428e5fa983-browserNotice {
    @extend %browser-notice !optional;
}

// removals/guilds-sidebar/
._5e434347c823b592-guilds {
    @extend %guilds-sidebar !optional;
}

._650eb104245d257b-listItem {
    @extend %guilds-sidebar-guild !optional;
}

// removals/guilds-sidebar/download-button.scss
div[data-list-item-id="guildsnav___app-download-button"] {
    @extend %guilds-sidebar-download-icon !optional;
}

// removals/guilds-sidebar/guilds-discover-button.scss
div[data-list-item-id="guildsnav___guild-discover-button"] {
    @extend %guilds-sidebar-guild-discover-icon !optional;
}

// removals/messages/
ol[data-list-id="chat-messages"] {
    @extend %messages !optional;
}

._5126c0cd07f243a0-messageListItem {
    @extend %messages-list-item !optional;
}

// removals/messages/upsells.scss
._5126c0cd07f243a0-nitroMessage {
    @extend %messages-nitro-message !optional;
}

// removals/misc/role-icons.scss
.ee71ee16cc02184d-roleIcon { // either this or c19a557985eb7793
    @extend %role-icon !optional;
}

// removals/private-channels/
.e6b7699ce8339e1c-privateChannels {
    @extend %private-channels !optional;
}

._972a0d22c8afa7f0-channel {
    @extend %private-channels-channel !optional;
}

._133bf5eea8e33a34-container {
    @extend %friends !optional;
}

// removals/private-channels/active-now-sidebar.scss
._133bf5eea8e33a34-nowPlayingColumn {
    @extend %friends-active-now-sidebar !optional;
}

// removals/settings/upsells.scss
.e4ef2250e26e0a8f-premiumTrialBadge {
    @extend %settings-premium-trial-badge !optional;
}

.e681d139d22f277b-premiumLabel {
    @extend %settings-premium-label !optional;
}

._9d295a6cf67970b4-tryItOutSection,
._0b69f200eb3bf411-upsellContainer {
    @extend %settings-profiles-try-it-out-upsell-container !optional;
}

._8279f38edc620354-container {
    @extend %settings-profiles-shop-upsell-container !optional;
}

._0f7dce48ad846f17-upsellOverlayContainer {
    @extend %settings-profiles-server-nitro-upsell-container !optional;
}

._70f7f6541f6f031e-wrapper {
    @extend %settings-nitro-sticky-wrapper !optional;
}

// removals/toolbar/
.c38106a3f0c3ca76-bar {
    @extend %toolbar !optional;
}

.c38106a3f0c3ca76-trailing {
    @extend %toolbar-trailing !optional;
}

// removals/users/avatar-decorations.scss
._44b0c28be7879b7b-avatarDecoration {
    @extend %profile-avatar-decoration !optional;
}

.c19a557985eb7793-avatarDecoration {
    @extend %chat-messages-message-avatar-decoration !optional;
}

._4bbc6dc06e75ad52-container {
    @extend %profile-nameplate !optional;
}

// removals/users/effects.scss
._0137000bc80ab6ea-profileEffects {
    @extend %profile-effects !optional;
}

// removals/users/clan-tags.scss
._63ed30c16c7151f2-tags {
    @extend %user-info-tags !optional;
}

._10651c5cfe637db6-chipletContainerInner {
    @extend %user-chiplet !optional;
}

._5d473ecff348c314-clanTag {
    @extend %user-clan-tag !optional;
}

// removals/users/notes.scss
.bf424dc3dc4c8775-section {
    @extend %profile-section !optional;
}

.eb110a19ea3d101d-note {
    @extend %profile-notes !optional;
}

.c0bea05627c5dc35-inner {
    @extend %profile-popout !optional;
}

._63ed30c16c7151f2-nicknameIcons {
    @extend %profile-popout-name-icons !optional;
}

._0f0745937100f096-button {
    @extend %profile-popout-note-icon !optional;
}